.m-article-imgbox{
	margin-top: $leading;
	margin-bottom: $leading;
}


.m-article-top{
	//padding-bottom: $leading;
	//border-bottom: 8px solid;    

   .a-fineprint{
       margin-bottom: 0;
       //color: #2baa65;
   }

}

.m-article-footer{
		.a-translate-text{
		font-style: italic;
		font-weight: 300;
		color: #a0aca5;
		font-size: 14px;
		}	
}



.m-preview-diy .a-fineprint{
 	text-align: center;
 	margin-top: $leading/2;
 }
